<main>
  <form class="form-content" *ngIf="createTaskForm" [formGroup]="createTaskForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="description">Description</label>
      <input id="description" formControlName="description">
    </div>
    <div>
      <label for="author">Author</label>
      <input id="author" formControlName="author">
    </div>
    <div>
      <label for="dueDate">Due Date</label>
      <input id="dueDate" type="date" formControlName="dueDate">
    </div>
    <button type="submit" formControlName="dueDate">Create Task</button>
  </form>
</main>